@charset "utf-8";
/* CSSリセット*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,
strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,
figure,footer,header,hgroup,menu,nav,section,summary,time,mark,
audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;
vertical-align:baseline;background:transparent;font-weight:normal;}
body{line-height:1}article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{display:block}
ul{list-style:none}blockquote,q{quotes:none}blockquote:before,
blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;
font-size:100%;vertical-align:baseline;background:transparent}
del{text-decoration:line-through}abbr[title],dfn[title]
{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;
margin:1em 0;padding:0}input,select{vertical-align:middle}
/* ----------- */

body{
	background: #000000;
	font: 16px/20px "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'メイリオ',Meiryo,Helvetica,Arial,Sans-Serif;
	color: #ffffff;
}

.botan{
width: 100%;
}

.haikei{
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.animsition-link{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width:600px;
	height: 60px;
	font-family: Times New Roman;
	font-size:30px;
	text-decoration:none;
	text-align:center;
	line-height: 60px;
	color: #ffffff;
	border:1px solid #ffffff;
	z-index: 2;
}



.K{
	text-align: center;
	margin: 0 auto;
}

.obj{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.animsition-link{
	 color: #ffffff;
	-webkit-transition: 0.6s ease-in-out;
	   -moz-transition: 0.6s ease-in-out;
	     -o-transition: 0.6s ease-in-out;
	        transition: 0.6s ease-in-out;
				}
.animsition-link:hover{
	color:#3b3b3b;
	opacity: 0.7;
	filter: alpha(opacity=60);
	background: #ffffff;
	border:1px solid #ffffff;
}
